@import "c/sharedCss";

.movie-card {
    flex-shrink: 0;
    width: 150px;
    height: fit-content;
    border-radius: 5px;
    margin: 0 1rem;
    cursor: pointer;
    transition: all .3s;
    position: relative;
    background-color: #f4f4f4;
}
.movie-card:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.img-wrapper {
    width: 100%;
    height: 220px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
}

img {
    height: 220px;
    width: 100%;
}

.movie-info {
    padding: 3px 5px;
}
.movie-title {
    font-weight: 700;
    font-size: 14px;
}
.movie-date {
    font-size: 14px;
}

.score {
    position: absolute;
    display: inline-block;
    top: 180px;
    right: 5px;
    border: 2px solid #232323;
    border-radius: 100%;
    padding: 3px;
    width: 32px;
    height: 32px;
    text-align: center;
    background: #fff;
    font-size: 14px;
    font-weight: 600;
}

.color-red {
    color: var(--red);
    border-color: var(--red);
}
.color-orange {
    color:var(--amber);
    border-color: var(--amber);
}
.color-green {
    color: var(--green);
    border-color: var(--green);
}